.App {
  /* text-align: center; */
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title-bar {
    height: 24px;
    padding-top: 4px;
    background-color: grey;
    color: #fcfcfc;
    text-align: center;

    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.database {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.database .browser {
  flex-grow: 0;
  width: 250px;
  height: 100%;
  background-color: #eee;
  padding: 5px;
}

.database .editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.database .editor .query {
  flex-grow: 1;
}

.database .editor .query > pre {
  width: calc(100vw - 272px);
  height: calc(100% - 10px);
  margin: 0;
  overflow: scroll;
}

.database .editor .results {
  flex-grow: 0;
}

/* https://www.geeksforgeeks.org/how-to-create-a-table-with-fixed-header-and-scrollable-body/ */
.fixTableHead {
  width: calc(100vw - 272px);
  max-height: 50vh;
  overflow: auto;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  text-align: left;
}
table {
  border-collapse: collapse;        
  width: 100%;
}
th,
td {
  padding: 8px 15px;
  border: 2px solid #529432;
}
th {
  background: #ABDD93;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
